@{
    ViewBag.Title = "Home Page";
}
<main>
    <section id="mainContent">
        <div class="wrapper">
            <div class="row">
                <div class="col-10">
                    <section id="staticImage" class="row mobileOnly">
                        <div class="col-12">
                            <img id="carouselMainImg" class="responsiveImg row" src="images/slide.png" alt="carousel Images" />
                        </div>
                    </section>
                    <section id="imageCarousel" class="row">
                        <h2 class="always-hidden">Image Carousel</h2>
                        <div id="carouselContainer" class="row">
                            <div class="col-7">
                                <img id="carouselMainImg" class="responsiveImg row" src="images/slide.png" alt="carousel Images" />
                            </div>
                            <div class="col-5">
                                <div class="row">
                                    <p>7 Tips to Keep You Healthy This Winter</p>
                                </div>
                                <div class="row">
                                    <p>January 9, 2016</p>
                                </div>
                                <div class="row">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                                </div>
                                <div class="row">
                                    <a href="#">Read More...</a>
                                </div>
                            </div>

                        </div>
                        <div id="carouselLinkers" class="row">
                            <ul id="linkImages">
                                <li>
                                    <div id="imgOne" class="linkers-selected"></div>
                                </li>
                                <li>
                                    <div id="imgTwo" class="linkers"></div>
                                </li>
                                <li>
                                    <div id="imgThree" class="linkers"></div>
                                </li>
                                <li>
                                    <div id="imgFour" class="linkers"></div>
                                </li>
                                <li>
                                    <div id="imgFive" class="linkers"></div>
                                </li>
                            </ul>
                        </div>
                    </section>
                    <section id="visionBlock" class="row">
                        <p><span class="fa fa-quote-left"></span> Advancing the Health of our Community by being</p>
                        <p> Canada's Best Community Teaching Health Centre <span class="fa fa-quote-right"></span></p>
                    </section>
                    <section id="newsAndCalendar" class="row">
                        <div id="latestNews" class="col-8">
                            <div class="row">
                                <h3><span class="fa fa-caret-right" aria-hidden="true"></span> Latest News</h3>
                            </div>
                            <div class="row newsBlock">
                                <div class="col-4">
                                    <img alt="news Image 1" src="images/news1.png" class="responsiveImg" />
                                </div>
                                <div class="col-8">
                                    <div class="row">
                                        <p>Quinoa Greek Salad</p>
                                    </div>
                                    <div class="row">
                                        <p>March 9, 2016</p>
                                    </div>
                                    <div class="row">
                                        <p>March is Nutrition Month. Insert all news articles here.</p>
                                    </div>
                                    <div class="row">
                                        <a href="#">Read More...</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row newsBlock">
                                <div class="col-4">
                                    <img alt="news Image 2" src="images/news2.png" class="responsiveImg" />
                                </div>
                                <div class="col-8">
                                    <div class="row">
                                        <p>Cardiology at St. Humber: All about your health</p>
                                    </div>
                                    <div class="row">
                                        <p>March 9, 2016</p>
                                    </div>
                                    <div class="row">
                                        <p>March is Nutrition Month. Insert all news articles here.</p>
                                    </div>
                                    <div class="row">
                                        <a href="#">Read More...</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row newsBlock">
                                <div class="col-4">
                                    <img alt="news Image 3" src="images/news3.png" class="responsiveImg" />
                                </div>
                                <div class="col-8">
                                    <div class="row">
                                        <p>Six steps to a healthier heart</p>
                                    </div>
                                    <div class="row">
                                        <p>March 9, 2016</p>
                                    </div>
                                    <div class="row">
                                        <p>March is Nutrition Month. Insert all news articles here.</p>
                                    </div>
                                    <div class="row">
                                        <a href="#">Read More...</a>
                                    </div>
                                </div>
                            </div>
                            <div id="moreNewsBtn" class="row">
                                <a href="#">Read more news</a>
                            </div>
                        </div>
                        <div id="calendarAndForms" class="col-4">
                            <div class="row">
                                <div class="col-12">
                                    <h3><span class="fa fa-caret-right" aria-hidden="true"></span> Events Calendar</h3>
                                </div>
                                <div id="calendarSpace" class="col-12">
                                    <div class="row">
                                        <p>March</p>
                                    </div>
                                    <div class="row">
                                        CalendarSpace
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <h3><span class="fa fa-caret-right" aria-hidden="true"></span> Forms Directory</h3>
                                </div>
                                <div id="formsDirectory" class="col-12">
                                    <div class="row">
                                        <div class="col-4">
                                            <label>Type:</label>
                                        </div>
                                        <div class="col-8">
                                            <select>
                                                <option>Information</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            <label>Category:</label>
                                        </div>
                                        <div class="col-8">
                                            <select>
                                                <option>Information</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            <label>Keywords:</label>
                                        </div>
                                        <div class="col-8">
                                            <textarea placeholder=" e.g. health"></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <input type="submit" value="Search" />
                                        </div>
                                        <div class="col-6">
                                            <input type="button" value="Refresh" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <p>Your Results:</p>
                                    </div>
                                    <div class="row">
                                        <ul>
                                            <li><span class="fa fa-file-text-o"></span> FileOne</li>
                                            <li><span class="fa fa-file-text-o"></span> FileTwo</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="formsDirectoryBtn" class="row mobileOnly">
                                <a href="#">Forms Directory</a>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
</main>


